.sconsign.dblite
*__pycache__/
build/
_build/
*UVBuild/
*.lst
*.uvguix.*
*.map
project/ble/.vscode/
project/ble/.history/
project/ble/ble_lock_adapter/.history/
project/ble/ble_lock_adapter/le501x/
.history/
